project_name      = "example"
route53_zone_name = "example.com"
vpc_name          = "my-vpc"

ec2_key_pair_name = "my-key-pair"
ec2_ami_owner     = "123456789012"
ec2_ami_name      = "ubuntu/images/hvm-ssd-gp3/ubuntu-noble-24.04-amd64-server-*"

pingfederate_allowed_cidrs  = ["0.0.0.0/0"]
pingfederate_zip_path       = "/path/to/pingfederate-13.0.zip"
pingfederate_license_path   = "/path/to/PingFederate.lic"
